<div class="container-fluid">
  <h1 class="text-center">Hello directive</h1>
  <div class="row">
    <!-- <div class="col-md-3"></div> -->
    <!-- <div class="col-md-9"> -->
        <table class="table">
            <thead>
              <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Age</th>
                <th>Gender</th>
                <th>Position</th>
                <th>Salary</th>
              </tr>
            </thead>
            <tbody>
                <tr *ngFor='let emp of employee_list; let i = index; 
                let odd = odd; 
                let first = first;
                let last = last;' [style.background-color]="odd ? 'gray' : 'yellow'">
                  <td>
                    {{ emp.id }}
                  </td>
                  <td>
                    {{ emp.name }}
                  </td>
                  <td>
                    {{ emp.age }}
                  </td>
                  <td>
                    {{ emp.gender }}
                  </td>
                  <td>
                    {{ emp.age >= 40 ? 'Sr.Employee' : 'Jr.Employee' }}
                  </td>
                  <td>
                    {{ emp.age >= 40 ? emp.age * 10 + 50000 : emp.age * 5 + 50000 }}
                  </td>
                </tr>
            </tbody>
          </table>
          <div>
              <h1>count: {{ count }}</h1>
          </div>

          <button class="btn btn-primary" (click)="increment()">Increment</button>
          <br>
          <button class="btn btn-primary" (click)="decrement()">Decrement</button>
          <ul>
            <li *ngFor="let x of myEmployees">
              <p>id: {{ x.id }}</p>
              <p>name: {{ x.name }}</p>
              <p>age: {{ x.age }}</p>
            </li>
          </ul>
    <!-- </div> -->
    <!-- <div class="col-md-3"></div> -->
  </div>
  <p>original: {{ msg }}</p>
  <p>uppercase: {{ msg | uppercase }}</p>
  <p>lowercase: {{ msg | lowercase }}</p>
  <p>date: {{ '06-09-2018' | date: 'long' }}</p>
  <p>number: {{ num | number: '7.1-2' }}</p>
  <p>number: {{ -2.5 | number: '1.0-0' }}</p>
  <p>number: {{ e | number: '5.3-7' }}</p>
  <!-- <p>number: {{ Math.round(-2.5) }}</p> -->
  <p>celsius: {{ fahrenheit | customPipe: 'C' }}</p>
</div>
